<!-- <nav class="navbar navbar-expand-lg px-4 shadow-sm">
  <a class="navbar-brand fw-bold d-flex align-items-center" href="#">
    <img src="../../../assets/logo.png" alt="Logo UD.REGEP" style="max-height: 60px;" class="me-2" />
  </a>

  <div class="ms-auto">
    <a routerLink="/login" class="btn">
      <i class="fa fa-sign-in me-2"></i>Login
    </a>
  </div>
</nav> -->

<!-- Navbar -->
<nav class="navbar navbar-expand navbar-success px-4 d-flex justify-content-between align-items-center">
  <div>
    <span class="navbar-brand mb-0"><img style="max-height: 100px;" src="../../../assets/logo.png" alt=""></span>
  </div>
  <div class="dropdown">
    <!-- FIXED: data-bs-toggle jadi data-toggle -->
    <a routerLink="/login" class="btn btn-success">
      <i class="fa fa-sign-in me-2"></i>Login
    </a>
    
  </div>
</nav>

<div class="hero-section d-flex flex-column justify-content-center align-items-center text-center p-5">
  <h1 class="display-3 fw-bold mb-3">SELAMAT DATANG</h1>
  <p class="lead mb-2">Sistem Informasi Penentuan Rute</p>
  <p class="lead mb-4">Penjemputan Kertas Bekas</p>
  <img src="../../../assets/logo.png" alt="Logo UD.REGEP" style="max-height: 200px; margin-top: 10px;">
</div>

<footer class="footer text-center py-3 mt-auto">
  <small class="text-muted">
    &copy; 2025 UD.REGEP
  </small>
</footer>
