

  i {
    padding-right: 5px;
  }
  
  .hero-section {
    min-height: calc(100vh - 72px - 56px);
    background-color: #ffffff;
    color: #2e7d32;
  
    h1 {
      color: #2e7d32;
    }
  
    p {
      color: #4caf50;
    }
  
    img {
      margin-top: 10px;
      max-height: 200px;
    }
  }
  
  