<app-tabset>
    <app-tab-item title="Data pengepul harian">
      <ng-template>
        <app-daily-pengepul></app-daily-pengepul>
      </ng-template>
    </app-tab-item>
  
    <app-tab-item title="Data kebutuhan kendaraan">
      <ng-template>
        <app-cluster-kendaraan></app-cluster-kendaraan>
      </ng-template>
    </app-tab-item>

    <app-tab-item title="Data final rute">
      <ng-template>
        <app-final-rute></app-final-rute>
      </ng-template>
    </app-tab-item>
  </app-tabset>
